<div class="callback">
	<div class="container">
		<div class="section-title">Не можете определиться с выбором?!</div>
		<div class="subtitle-2">Оставьте заявку и мы вам поможем с подбором</div>
		<form class="callback__form">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="input input_grey">
						<input
							type="text"
							placeholder="Ваше имя"
							name="name"
							autocomplete="off"
						/>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="input input_grey">
						<input
							type="tel"
							placeholder="Ваш телефон"
							name="tel"
							autocomplete="off"
						/>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<button class="btn-primary btn btn-violet-1">Оставить заявку</button>
				</div>
			</div>
		</form>
	</div>
</div>
