<div class="filter js-filter">
	<div class="container">
		<button class="filter__btn-cls js-filter-cls-btn">
			<svg><use href="./img/sprite.svg#cross"></use></svg>
			Закрыть фильтр
		</button>

		<button class="filter__btn js-filter-btn">
			<svg><use href="./img/sprite.svg#filter-btn"></use></svg>
			<span>Фильтр</span>
		</button>

		<div class="filter__item">
			Бренд
			<div class="filter__arrow">
				<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
			</div>

			<div class="filter-menu">
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-1"></use></svg>
					<div class="checkbox__text">Круглые</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-2"></use></svg>
					<div class="checkbox__text">Квадратные</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-3"></use></svg>
					<div class="checkbox__text">Прямоугольные</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-4"></use></svg>
					<div class="checkbox__text">Авиаторы</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-5"></use></svg>
					<div class="checkbox__text">Кошачий глаз</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-6"></use></svg>
					<div class="checkbox__text">Лекторы</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-7"></use></svg>
					<div class="checkbox__text">Гранды</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
					<svg><use href="./img/sprite.svg#filter-item-8"></use></svg>
					<div class="checkbox__text">Нестандартные</div>
				</label>
			</div>
		</div>

		<div class="filter__item">
			Форма
			<div class="filter__arrow">
				<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
			</div>

			<div class="filter-menu">
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Круглые</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Квадратные</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Прямоугольные</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Авиаторы</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Кошачий глаз</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Лекторы</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Гранды</div>
				</label>
				<label class="checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>

					<div class="checkbox__text">Нестандартные</div>
				</label>
			</div>
		</div>

		<div class="filter__item">
			Тип
			<div class="filter__arrow">
				<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
			</div>
		</div>

		<div class="filter__item filter__item_last">
			Материал
			<div class="filter__arrow">
				<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
			</div>
		</div>

		<div class="sort js-sort">
	<div class="sort__caption">Сортировать</div>
	<div class="sort__toggle js-sort-toggle">
		по умолчанию
		<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
	</div>
	<div class="sort-menu js-sort-menu">
		<a href="" class="sort-menu__link">по цене</a>
		<a href="" class="sort-menu__link">по бренду</a>
		<a href="" class="sort-menu__link">по материалу </a>
	</div>
</div>

	</div>
</div>
