<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row between-lg middle-md between-md middle-lg middle-xs">
				<div class="col-lg-2 col-md-2 col-xs-4">
					<button class="header-mobile__btn js-mobile-opn">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<div class="social">
	<a href="#" class="social__item">
		<svg><use href="./img/sprite.svg#instagram"></use></svg>
	</a>
	<a href="#" class="social__item">
		<svg><use href="./img/sprite.svg#facebook"></use></svg>
	</a>
</div>

				</div>
				<div class="col-lg-2 col-md-3 js-header-contacts">
					<a href="#" class="header__phone">+38 066 815-43-19 </a>
					<a href="#" class="btn btn-secondary btn-border-pink">
						Запись к врачу
					</a>
				</div>
				<div class="col-lg-4 col-md-3 col-xs-5">
					<a href="#" class="header__logo">
						<svg><use href="./img/sprite.svg#logo"></use></svg>
					</a>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-3 col-md-4 col-xs-3">
					<div class="row middle-lg between-lg end-xs">
						<div class="col-lg-6 col-md-6 col-xs-12">
							<div class="header-actions">
								<a href="#">
									<svg><use href="./img/sprite.svg#search"></use></svg>
								</a>
								<a href="#">
									<svg><use href="./img/sprite.svg#heart"></use></svg>
								</a>
								<a href="#">
									<svg><use href="./img/sprite.svg#shopping-bag"></use></svg>
									<span>1</span>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="header-lang">
								<a href="#"> Рус </a>
								<a href="#" class="active"> Укр </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container js-categories">
		<ul class="header-categories">
	<li>
		<a href="#">Оправы</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>
		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Солнцезащитные очки</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>
		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Линзы</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>
		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Диагностика</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>

		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Зрительная терапия</a>
	</li>
	<li>
		<a href="#">Ремонт</a>
	</li>
	<li>
		<a href="#">О нас</a>
	</li>
</ul>

	</div>

	<div class="header-mobile__wrapper">
		<div class="header-mobile__heading">
			<div class="row middle-sm">
				<div class="col-xs-4">
					<button class="header-mobile__btn-close js-mobile-cls">
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="col-xs-4">
					<div class="header-actions header-actions_mobile">
						<a href="#">
							<svg><use href="./img/sprite.svg#search"></use></svg>
						</a>
						<a href="#">
							<svg><use href="./img/sprite.svg#heart"></use></svg>
						</a>
						<a href="#">
							<svg><use href="./img/sprite.svg#shopping-bag"></use></svg>
							<span>1</span>
						</a>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="header-lang header-lang_mobile">
						<a href="#"> Рус </a>
						<a href="#" class="active"> Укр </a>
					</div>
				</div>
			</div>
		</div>

		<div class="header-mobile__menu">
			<div class="header-mobile__bottom"></div>
		</div>
	</div>
</header>
