<div class="modal" id="modal-1">
	<div class="title_h2">Спасибо!</div>
	<div class="modal__subtitle">Ваш заказ был успешно оформлен</div>
</div>

<div class="modal" id="modal-2">
	<div class="title_h2">Купить в 1 клик</div>
	<form class="modal__form">
		<div class="input">
			<input
				type="text"
				name="name"
				placeholder="Ваше имя"
				autocomplete="off"
			/>
		</div>
		<div class="input">
			<input
				type="tel"
				name="tel"
				placeholder="Ваш телефон"
				autocomplete="off"
			/>
		</div>
		<button type="submit" class="btn btn-secondary btn-violet-1">
			Оставить заявку
		</button>
	</form>
</div>

<div class="modal modal-cart" id="modal-3">
	<div class="modal__row">
		<div class="modal__img">
			<img src="./img/modal-img.png" alt="img" />
		</div>
		<div class="modal__text">
			Товар <a href="#">Оправы William Morris</a> был успешно добавлен в корзину
		</div>
	</div>
</div>

<div class="modal" id="modal-4">
	<div class="title_h2">Обратный звонок</div>
	<form class="modal__form">
		<div class="input">
			<input
				type="text"
				name="name"
				placeholder="Ваше имя"
				autocomplete="off"
			/>
		</div>
		<div class="input">
			<input
				type="tel"
				name="tel"
				placeholder="Ваш телефон"
				autocomplete="off"
			/>
		</div>
		<button type="submit" class="btn btn-secondary btn-violet-1">
			Оставить заявку
		</button>
	</form>
</div>

<div class="modal" id="modal-5">
	<div class="title_h2">
		ЗАписаться <br />
		на прием
	</div>
	<form class="modal__form">
		<div class="input">
			<input
				type="text"
				name="name"
				placeholder="Ваше имя"
				autocomplete="off"
			/>
		</div>
		<div class="input">
			<input
				type="tel"
				name="tel"
				placeholder="Ваш телефон"
				autocomplete="off"
			/>
		</div>
		<button type="submit" class="btn btn-secondary btn-violet-1">
			Оставить заявку
		</button>
	</form>
</div>
