<div class="request">
	<div class="container">
		<div class="row middle-lg">
			<div
				class="
					col-lg-4 col-md-4 col-sm-12 col-xs-12
					first-md first-lg
					last-sm last-xs
				"
			>
				<div class="request__img request__img_gradient">
					<img src="./img/request-img.png" alt="img" />
				</div>
			</div>
			<div
				class="
					col-lg-8 col-md-8 col-sm-12 col-xs-12
					center-sm center-xs
					start-md start-lg
				"
			>
				<div class="title_h2">
					Современный метод профилактики и лечения различных заболеваний глаз
				</div>
				<div class="subtitle-2">Запишитесь на прием онлайн</div>
				<a href="#" class="btn btn-primary btn-violet-1">
					Записаться на прием
				</a>
			</div>
		</div>
	</div>
</div>
