<div class="reviews">
	<div class="container">
		<div class="section-title">Отзывы</div>

		<div class="reviews-card">
			<div class="reviews-card__heading">
				<div class="reviews-card__name">Екатерина</div>
				<div class="reviews-card__date">14.05.2021</div>
				<div class="reviews-card__rating">
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-empty"></use></svg>
				</div>
			</div>
			<div class="reviews-card__text">
				Благодарю за качественный сервис, прекрасный выбор и вкусный кофе! Вы
				выше всех похвал!
			</div>
		</div>
		<div class="reviews-card">
			<div class="reviews-card__heading">
				<div class="reviews-card__name">Екатерина</div>
				<div class="reviews-card__date">14.05.2021</div>
				<div class="reviews-card__rating">
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-empty"></use></svg>
				</div>
			</div>
			<div class="reviews-card__text">
				Хочу выразить благодарность консультанту Наталье за помощь в выборе
				очков для моей дочери! Было всё быстро, квалифицированно! Теперь только
				к вам!
			</div>
		</div>

		<div class="reviews-card reviews-card_reply">
			<div class="reviews-card__heading">
				<div class="reviews-card__name">Abbe Optic</div>
				<div class="reviews-card__date">14.05.2021</div>
			</div>
			<div class="reviews-card__text">
				Благодарим Вас за отзыв. Для нашего развития важно ваше мнение! Ждем Вас
				снова.
			</div>
		</div>

		<div class="reviews-card">
			<div class="reviews-card__heading">
				<div class="reviews-card__name">Екатерина</div>
				<div class="reviews-card__date">14.05.2021</div>
				<div class="reviews-card__rating">
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-empty"></use></svg>
				</div>
			</div>
			<div class="reviews-card__text">
				Благодарю за качественный сервис, прекрасный выбор и вкусный кофе! Вы
				выше всех похвал!
			</div>
		</div>
		<div class="reviews-card">
			<div class="reviews-card__heading">
				<div class="reviews-card__name">Екатерина</div>
				<div class="reviews-card__date">14.05.2021</div>
				<div class="reviews-card__rating">
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-full"></use></svg>
					<svg><use href="./img/sprite.svg#star-empty"></use></svg>
				</div>
			</div>
			<div class="reviews-card__text">
				Благодарю за качественный сервис, прекрасный выбор и вкусный кофе! Вы
				выше всех похвал!
			</div>
		</div>
	</div>
</div>
