<div class="carousel">
	<div class="container">
		<div class="section-title">@@title</div>
		<div class="owl-carousel" id="salon">
			<a
				data-fancybox="images"
				href="./img/carousel-img-1.jpg"
				class="carousel__item"
			>
				<img src="./img/carousel-img-1.jpg" alt="img" />
			</a>
			<a
				data-fancybox="images"
				href="./img/carousel-img-2.jpg"
				class="carousel__item"
			>
				<img src="./img/carousel-img-2.jpg" alt="img" />
			</a>
			<a
				data-fancybox="images"
				href="./img/carousel-img-3.jpg"
				class="carousel__item"
			>
				<img src="./img/carousel-img-3.jpg" alt="img" />
			</a>
			<a
				data-fancybox="images"
				href="./img/carousel-img-4.jpg"
				class="carousel__item"
			>
				<img src="./img/carousel-img-4.jpg" alt="img" />
			</a>
			<a
				data-fancybox="images"
				href="./img/carousel-img-1.jpg"
				class="carousel__item"
			>
				<img src="./img/carousel-img-1.jpg" alt="img" />
			</a>
		</div>
		<button
			class="carousel__next-btn"
			onclick="template.carouselNavigation('#salon', 'next')"
		>
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</button>
	</div>
</div>
