<div class="seo">
	<div class="container">
		<div class="title_h1">ИНТЕРНЕТ МАГАЗИН “Abbe Optic”</div>
		<div class="title_h2">ИНТЕРНЕТ МАГАЗИН “Abbe Optic”</div>
		<div class="title_h3">ИНТЕРНЕТ МАГАЗИН “Abbe Optic”</div>
		<div class="title_h4">ИНТЕРНЕТ МАГАЗИН “Abbe Optic”</div>
		<div class="title_h5">ИНТЕРНЕТ МАГАЗИН “Abbe Optic”</div>
		<p>
			Подбор очков не является целью консультации офтальмолога. Эта процедура
			нужна не всем пациентам, требует дополнительного времени на адаптацию к
			подобранным очкам, и в большинстве случаев осуществляется в другой день.
			Поэтому, данная услуга не входит в стоимость консультации офтальмолога и
			оплачивается дополнительно.
		</p>
		<p>
			Очки назначают людям со сниженным зрением для коррекции аномалий
			рефракции, таких как дальнозоркость, близорукость, астигматизм,
			пресбиопия.
		</p>
		<p>
			Однако, не только эти причины могут вызывать снижение зрения. Поэтому,
			прежде чем приступить к подбору очков, крайне важно во время диагностики
			провести всестороннее изучение состояния глаза, позволяющее выявить другие
			проблемы глаза и зрения. Подбор очков не является целью консультации
			офтальмолога. Эта процедура нужна не всем пациентам, требует
			дополнительного времени на адаптацию к подобранным очкам, и в большинстве
			случаев осуществляется в другой день. Поэтому, данная услуга не входит в
			стоимость консультации офтальмолога и оплачивается дополнительно.
		</p>
	</div>
</div>
