<ul class="categories">
	<li>
		<a href="#">Оправы</a>
		<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>

		<ul class="categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Солнцезащитные очки</a>
		<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
		<ul class="categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Линзы</a>
		<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
		<ul class="categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Диагностика</a>
		<svg><use href="./img/sprite.svg#dropdown-arrow"></use></svg>
		<ul class="categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Зрительная терапия</a>
	</li>
	<li>
		<a href="#">Ремонт</a>
	</li>
	<li>
		<a href="#">О нас</a>
	</li>
</ul>
