<div class="contact-us">
	<div class="contact-us__wrapper">
		<a href="#" class="contact-us__btn contact-us__btn_blue-2">
			<div class="tooltip">messanger</div>
			<svg><use href="./img/sprite.svg#messanger"></use></svg>
		</a>
		<a href="#" class="contact-us__btn contact-us__btn_red">
			<div class="tooltip">instagram</div>

			<svg><use href="./img/sprite.svg#instagram_2"></use></svg>
		</a>
		<a href="#" class="contact-us__btn contact-us__btn_violet-2">
			<div class="tooltip">viber</div>

			<svg><use href="./img/sprite.svg#viber"></use></svg>
		</a>
		<a href="#" class="contact-us__btn contact-us__btn_green">
			<div class="tooltip">whatsapp</div>

			<svg><use href="./img/sprite.svg#whatsapp"></use></svg>
		</a>
		<a href="#" class="contact-us__btn contact-us__btn_blue">
			<div class="tooltip">telegram</div>

			<svg><use href="./img/sprite.svg#telegram"></use></svg>
		</a>
		<a href="#" class="contact-us__btn contact-us__btn_orange">
			<div class="tooltip">+380668154319</div>

			<svg><use href="./img/sprite.svg#phone"></use></svg>
		</a>
		<a href="#" class="contact-us__btn contact-us__btn_violet">
			<div class="tooltip">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
				temporibus dolores ex sed distinctio ullam.
			</div>

			<svg><use href="./img/sprite.svg#notebook"></use></svg>
		</a>
	</div>

	<button class="btn-chat js-contact-us" data-action="show">
		<svg class="icon_1"><use href="./img/sprite.svg#chatting"></use></svg>
		<svg class="icon_2"><use href="./img/sprite.svg#cross"></use></svg>
	</button>
</div>
