<ul class="header-categories">
	<li>
		<a href="#">Оправы</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>
		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Солнцезащитные очки</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>
		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Линзы</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>
		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Диагностика</a>
		<div class="header-categories__toggle">
			<svg>
				<use href="./img/sprite.svg#dropdown-arrow"></use>
			</svg>
		</div>

		<ul class="header-categories-menu">
			<li>
				<a href="#">Мужские</a>
			</li>
			<li>
				<a href="#">Женские</a>
			</li>
			<li>
				<a href="#">Унисекс</a>
			</li>
			<li>
				<a href="#">Детские</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Зрительная терапия</a>
	</li>
	<li>
		<a href="#">Ремонт</a>
	</li>
	<li>
		<a href="#">О нас</a>
	</li>
</ul>
