<div class="team-card">
	<div class="team-card__img">
		<img src="./img/team-card-img-@@img.jpg" alt="img" />
	</div>
	<div class="team-card__wrapper">
		<div class="team-card__name">@@name</div>
		<div class="team-card__caption">Врач-офтальмолог</div>
		<div class="team-card__description">
			Офтальмолог — это врач, который оказывает квалифицированную помощь в
			диагностике, лечении и предупреждении заболеваний глаз. Другое
			используемое название врача — окулист.
		</div>
		<a href="#" class="btn btn-primary btn-violet-1">Записаться на прием</a>
	</div>
</div>
